---
http_interactions:
- request:
    method: post
    uri: https://api.sprites.dev/v1/sprites
    body:
      encoding: UTF-8
      string: '{"name":"checkpoint-retrieve-sprite"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Fly-Request-Id:
      - 01KGAC84T6NM8SQVVZW83CXSGT-fra
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sprite-72ed66be-fccc-425b-8d8f-38c4a4159df7","name":"checkpoint-retrieve-sprite","status":"cold","version":null,"url":"https://checkpoint-retrieve-sprite-j34t.sprites.app","updated_at":"2026-01-31T15:55:21.670316Z","created_at":"2026-01-31T15:55:21.670316Z","organization":"test-org","url_settings":{"auth":"sprite"},"environment_version":null}'
  recorded_at: Sat, 31 Jan 2026 15:55:21 GMT
- request:
    method: post
    uri: https://api.sprites.dev/v1/sprites/checkpoint-retrieve-sprite/checkpoint
    body:
      encoding: UTF-8
      string: '{"comment":"retrieve test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-ndjson
      Sprite-Version:
      - dev
      Fly-Request-Id:
      - 01KGAC86F9JXE2Y5AMPG6CVEV4-fra
    body:
      encoding: UTF-8
      string: |
        {"type":"info","data":"Creating checkpoint...","time":"2026-01-31T15:55:22.252135596Z"}
        {"type":"info","data":"Checkpoint created successfully","time":"2026-01-31T15:55:22.981614065Z"}
        {"type":"info","data":"\nCheckpoint Details:","time":"2026-01-31T15:55:22.987560685Z"}
        {"type":"info","data":"  ID: v1","time":"2026-01-31T15:55:22.987574975Z"}
        {"type":"info","data":"  Created: 2026-01-22 20:46:34","time":"2026-01-31T15:55:22.987585555Z"}
        {"type":"info","data":"  Path: checkpoints/v1","time":"2026-01-31T15:55:22.987586195Z"}
        {"type":"info","data":"\nTo restore this checkpoint:","time":"2026-01-31T15:55:22.987586385Z"}
        {"type":"info","data":"  sprite checkpoint restore v1","time":"2026-01-31T15:55:22.987587215Z"}
        {"type":"info","data":"  curl -X POST /checkpoints/v1/restore","time":"2026-01-31T15:55:22.987592455Z"}
        {"type":"complete","data":"Checkpoint v1 created successfully","time":"2026-01-31T15:55:22.987597295Z"}
  recorded_at: Sat, 31 Jan 2026 15:55:22 GMT
- request:
    method: get
    uri: https://api.sprites.dev/v1/sprites/checkpoint-retrieve-sprite/checkpoints/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sprite-Version:
      - dev
      Fly-Request-Id:
      - 01KGAC87J1VF3JPK1S3Q3YNPEJ-fra
    body:
      encoding: ASCII-8BIT
      string: '{"id":"v1","create_time":"2026-01-22T20:46:34Z","comment":"retrieve
        test","is_auto":false}

        '
  recorded_at: Sat, 31 Jan 2026 15:55:23 GMT
- request:
    method: delete
    uri: https://api.sprites.dev/v1/sprites/checkpoint-retrieve-sprite
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Fly-Request-Id:
      - 01KGAC87SK5ZC745AW6SVMWXCQ-fra
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 31 Jan 2026 15:55:24 GMT
recorded_with: VCR 6.4.0
