---
http_interactions:
  - request:
      method: post
      uri: https://api.sprites.dev/v1/sprites
      body:
        encoding: UTF-8
        string: '{"name":"checkpoint-list-sprite"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Fly-Request-Id:
          - 01KGABA95DECDHC0995GDG0FVQ-fra
      body:
        encoding: ASCII-8BIT
        string: '{"id":"sprite-a84931f7-2ebe-42d7-90a2-08d4ff1833f8","name":"checkpoint-list-sprite","status":"cold","version":null,"url":"https://checkpoint-list-sprite-j34t.sprites.app","updated_at":"2026-01-31T15:39:01.956486Z","created_at":"2026-01-31T15:39:01.956486Z","organization":"test-org","url_settings":{"auth":"sprite"},"environment_version":null}'
    recorded_at: Sat, 31 Jan 2026 15:39:02 GMT
  - request:
      method: post
      uri: https://api.sprites.dev/v1/sprites/checkpoint-list-sprite/checkpoint
      body:
        encoding: UTF-8
        string: '{"comment":"first checkpoint"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/x-ndjson
        Sprite-Version:
          - v0.0.1-rc31
        Fly-Request-Id:
          - 01KGABA9XS02Q3M1XN68SPPRXZ-fra
      body:
        encoding: UTF-8
        string: |
          {"type":"info","data":"Creating checkpoint...","time":"2026-01-31T15:39:02.607776414Z"}
          {"type":"info","data":"Checkpoint created successfully","time":"2026-01-31T15:39:03.040532788Z"}
          {"type":"info","data":"\nCheckpoint Details:","time":"2026-01-31T15:39:03.042919788Z"}
          {"type":"info","data":"  ID: v1","time":"2026-01-31T15:39:03.042928368Z"}
          {"type":"info","data":"  Created: 2026-01-31 15:35:26","time":"2026-01-31T15:39:03.042930928Z"}
          {"type":"info","data":"  Path: checkpoints/v1","time":"2026-01-31T15:39:03.042937328Z"}
          {"type":"info","data":"\nTo restore this checkpoint:","time":"2026-01-31T15:39:03.042937538Z"}
          {"type":"info","data":"  sprite checkpoint restore v1","time":"2026-01-31T15:39:03.042938228Z"}
          {"type":"info","data":"  curl -X POST /checkpoints/v1/restore","time":"2026-01-31T15:39:03.042939168Z"}
          {"type":"complete","data":"Checkpoint v1 created successfully","time":"2026-01-31T15:39:03.042939808Z"}
    recorded_at: Sat, 31 Jan 2026 15:39:03 GMT
[...]
  - request:
      method: get
      uri: https://api.sprites.dev/v1/sprites/checkpoint-list-sprite/checkpoints
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Sprite-Version:
          - v0.0.1-rc31
        Fly-Request-Id:
          - 01KGABABTEAB7RJP54BWPSXY3Q-fra
      body:
        encoding: ASCII-8BIT
        string:
          '[{"id":"Current","create_time":"2026-01-31T15:39:04Z","is_auto":false},{"id":"v2","create_time":"2026-01-31T15:39:02Z","comment":"second
          checkpoint","is_auto":false},{"id":"v1","create_time":"2026-01-31T15:35:26Z","comment":"first
          checkpoint","is_auto":false},{"id":"v0","create_time":"2026-01-31T15:35:26Z","is_auto":false}]

          '
    recorded_at: Sat, 31 Jan 2026 15:39:04 GMT
  - request:
      method: delete
      uri: https://api.sprites.dev/v1/sprites/checkpoint-list-sprite
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 204
        message: No Content
      headers:
        Content-Type:
          - text/plain; charset=utf-8
        Fly-Request-Id:
          - 01KGABAC1N0DFZSW6M26G9D1F8-fra
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Sat, 31 Jan 2026 15:39:05 GMT
recorded_with: VCR 6.4.0
