---
http_interactions:
  - request:
      method: post
      uri: https://api.sprites.dev/v1/sprites
      body:
        encoding: UTF-8
        string: '{"name":"policy-test-sprite"}'
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"id":"sprite-00000000-0000-0000-0000-000000000002","name":"policy-test-sprite","status":"warm","version":null,"url":"https://policy-test-sprite-xxxx.sprites.app","updated_at":"2026-01-31T12:00:00.000000Z","created_at":"2026-01-31T12:00:00.000000Z","organization":"test-org","url_settings":{"auth":"sprite"},"environment_version":null}'
    recorded_at: Sat, 31 Jan 2026 12:00:00 GMT
  - request:
      method: get
      uri: https://api.sprites.dev/v1/sprites/policy-test-sprite/policies
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"egress":{"policy":"allow-all"}}'
    recorded_at: Sat, 31 Jan 2026 12:00:01 GMT
  - request:
      method: delete
      uri: https://api.sprites.dev/v1/sprites/policy-test-sprite
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 204
        message: No Content
      headers:
      body:
        encoding: ASCII-8BIT
        string: ""
    recorded_at: Sat, 31 Jan 2026 12:00:02 GMT
recorded_with: VCR 6.4.0
