---
http_interactions:
  - request:
      method: post
      uri: https://api.sprites.dev/v1/sprites/nonexistent-sprite/policies
      body:
        encoding: UTF-8
        string: '{"egress":{"policy":"block-all"}}'
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
        Content-Type:
          - application/json
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"error":"failed to retrieve sprite"}'
    recorded_at: Sat, 31 Jan 2026 12:00:00 GMT
recorded_with: VCR 6.4.0
