---
http_interactions:
  - request:
      method: get
      uri: https://api.sprites.dev/v1/sprites
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Fly-Request-Id:
          - 01KG9Q4P75PXMVXVXKY2KJRWRZ-fra
      body:
        encoding: ASCII-8BIT
        string: '{"sprites":[],"next_continuation_token":null,"has_more":true}'
    recorded_at: Sat, 31 Jan 2026 09:46:32 GMT
recorded_with: VCR 6.4.0
