---
http_interactions:
- request:
    method: put
    uri: https://api.sprites.dev/v1/sprites/test-sprite
    body:
      encoding: UTF-8
      string: '{"url_settings":{"auth":"public"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Fly-Request-Id:
      - 01KG9TMVC2HQ8V8RT5E5APQEVG-fra
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sprite-00000000-0000-0000-0000-000000000001","name":"test-sprite","status":"warm","version":null,"url":"https://test-sprite-xxxx.sprites.app","updated_at":"2026-01-31T10:47:42.242658Z","created_at":"2026-01-31T10:06:45.399321Z","organization":"test-org","url_settings":{"auth":"public"},"environment_version":null}'
  recorded_at: Sat, 31 Jan 2026 10:47:42 GMT
recorded_with: VCR 6.4.0
