---
http_interactions:
  - request:
      method: post
      uri: https://api.sprites.dev/v1/sprites
      body:
        encoding: UTF-8
        string: '{"name":"new-sprite"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <SPRITES_TOKEN>
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Fly-Request-Id:
          - 01KG9SH4AF64T4EXA98KASQ2AZ-fra
      body:
        encoding: ASCII-8BIT
        string: '{"id":"sprite-00000000-0000-0000-0000-000000000002","name":"new-sprite","status":"cold","version":null,"url":"https://new-sprite-xxxx.sprites.app","updated_at":"2026-01-31T10:28:13.366126Z","created_at":"2026-01-31T10:28:13.366126Z","organization":"test-org","url_settings":{"auth":"sprite"},"environment_version":null}'
    recorded_at: Sat, 31 Jan 2026 10:28:13 GMT
recorded_with: VCR 6.4.0
