---
http_interactions:
- request:
    method: post
    uri: https://api.sprites.dev/v1/sprites
    body:
      encoding: UTF-8
      string: '{"name":"sprite-to-delete"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Fly-Request-Id:
      - 01KG9YM3ZER5YJF3WVDEME0XN7-fra
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sprite-00000000-0000-0000-0000-000000000003","name":"sprite-to-delete","status":"cold","version":null,"url":"https://sprite-to-delete-xxxx.sprites.app","updated_at":"2026-01-31T11:57:12.930891Z","created_at":"2026-01-31T11:57:12.930891Z","organization":"test-org","url_settings":{"auth":"sprite"},"environment_version":null}'
  recorded_at: Sat, 31 Jan 2026 11:57:13 GMT
- request:
    method: delete
    uri: https://api.sprites.dev/v1/sprites/sprite-to-delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Fly-Request-Id:
      - 01KG9YM4QV4VNA9DC3843APH9Z-fra
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 31 Jan 2026 11:57:14 GMT
recorded_with: VCR 6.4.0
