---
http_interactions:
- request:
    method: get
    uri: https://api.sprites.dev/v1/sprites
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPRITES_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Fly-Request-Id:
      - 01KG9RR63PD9G9C2SRYQQKB3NJ-fra
    body:
      encoding: ASCII-8BIT
      string: '{"sprites":[{"id":"sprite-00000000-0000-0000-0000-000000000001","name":"my-sprite","status":"warm","version":null,"url":"https://my-sprite-xxxx.sprites.app","updated_at":"2026-01-31T10:10:18.733318Z","created_at":"2026-01-31T10:06:45.399321Z","organization":"test-org","url_settings":{"auth":"sprite"},"environment_version":null}],"next_continuation_token":null,"has_more":true}'
  recorded_at: Sat, 31 Jan 2026 10:14:34 GMT
recorded_with: VCR 6.4.0
